:root {
    --text-color: rgb(249, 249, 249);
    --text-shadow-color: midnightblue;
    --text-shadow: 3px 3px 4px var(--text-shadow-color);

    --main-bg-color: black;
    --main-header-footer-color: rgba(0, 0, 0, 0.75);
    --main-header-footer-shadow-color: midnightblue;
    --main-header-footer-shadow: inset 0px 0px 10px 0px var(--main-header-footer-shadow-color);
    --header-button-color: rgba(0, 0, 0, 0);
    --header-button-color-hover: rgba(25, 25, 112, 0.75);
    --header-footer-border-radius: 0px;

    --paddings-color: rgba(0, 0, 0, 0.25);
    --paddings-shadow-color: midnightblue;
    --paddings-shadow: inset 0px 0px 10px 0px var(--paddings-shadow-color);
    --paddings-border-radius: 5px;

    --post-bg-color: rgba(0, 0, 0, 0.5);
    --post-shadow-color: midnightblue;
    --post-shadow: inset 0px 0px 10px 0px var(--post-shadow-color);
    --like-button-color: rgba(0, 0, 0, 0);
    --like-button-color-hover: rgba(25, 25, 112, 0.75);
    --post-border-radius: 5px;

    --background-image: url("../images/space.webp");
}

body {
    margin: 0;
    font-family: 'Unbounded', monospace;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

.nav-bar, body > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--main-header-footer-color);
    box-shadow: var(--main-header-footer-shadow);
    border-radius: var(--header-footer-border-radius);
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 10px;
    transition: text-shadow 0.3s, color 0.3s;
}

.nav-link:hover, .blue-link:focus {
    text-shadow: 0 0 20px var(--text-shadow-color), 0 0 10px var(--text-shadow-color);
    color: lightskyblue;
}

.Posts-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 600px;
    margin: 0 auto;
}

.Post {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: var(--post-bg-color);
    margin: 5px 0;
    box-shadow: var(--post-shadow);
    padding: 5px;
    border-radius: var(--post-border-radius);
}

.Post > header, .Post footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Post > header {
    flex-direction: row;
}

.Post > header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.Post img {
    max-width: 100%;
    height: auto;
}

/* Adjacent Sibling Selector: Change the margin-top of any paragraph that directly follows an image inside .Post */
.Post img + p {
    margin-top: 20px;
}

/* General Sibling Selector: Any paragraph after a .highlighted class within .Post will have a dashed underline */
.Post .highlighted ~ p {
    text-decoration: underline dashed;
}

.Post footer button img {
    width: 24px;
    height: 24px;
}

.header-button {
    background-color: var(--header-button-color);
    border: none;
    padding: 10px 20px;
    border-radius: var(--paddings-border-radius);
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: var(--header-button-color-hover);
}

.header-button img {
    width: 24px;
    height: 24px;
}

.textarea-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.textarea-group textarea {
    min-height: 100px;
    background-color: var(--paddings-color);
    padding: 5px;
    border-radius: var(--paddings-border-radius);
    box-shadow: var(--paddings-shadow);
    border: none;
    color: var(--text-color);
    resize: none;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }

    .nav-link {
        padding: 0 5px;
    }

    .Posts-container {
        width: 90vw;
    }
}



header .Image-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 35px;
    margin-top: 10px;
    transition: box-shadow 0.4s, transform 0.4s;
}

header .Image-container:hover img {
    box-shadow: 0 0 40px rgba(0, 0, 255, 0.9), 0 0 10px rgba(0, 0, 255, 0.8);
    transform: scale(1.05);
    will-change: box-shadow, transform;
}
/* Base Styles */

body {
    display: block;
}

.nav-link {
    display: inline-block;
    font-family: 'Unbounded', monospace;
    padding: 15px 25px;
    background-color: transparent;
    text-decoration: none;
    border: solid transparent;
    color: white;
    transition: text-shadow 0.2s ease;
}

.nav-link:hover {
    text-shadow: 0 0 5px #800080, 0 0 15px #800080, 0 0 25px #800080, 0 0 35px #800080, 0 0 50px #800080;
    background-color: rgba(128, 0, 128, 0.2);
    border-color: #800080;
}

.nav-links-wrapper {
    display: flex;
}

.Post footer button.indexlike {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Post footer button.indexlike:hover {
    background-color: rgba(0, 0, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
}

.AddPost-form-container {
    width: 30vw;
    height: 40vh;
    background-color: var(--post-bg-color);
    margin: 0 auto;
    box-shadow: var(--post-shadow);
    padding: 5px;
    border-radius: var(--post-border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.AddPost-form-container h2, 
.AddPost-form-container label, 
.AddPost-form-container textarea,
.AddPost-form-container button {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.AddPost-form-container textarea {
    width: 90%;
    height: 100px;
    resize: vertical;
    padding: 10px;
}

.AddPost-form-container button {
    padding: 10px 20px;
    background-color: rgba(25, 25, 112, 0.75);
    color: var(--text-color);
    border: none;
    border-radius: var(--post-border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.AddPost-form-container button:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

.textarea-group label, 
.textarea-group textarea {
    flex: 1;
    font-size: 1rem;
    padding: 10px;
    resize: vertical;
}

.textarea-group label {
    margin-right: 1rem;
}

.blue-link {
    color: #007BFF;
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: text-shadow 0.3s ease;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
}

.blue-link:hover, 
.blue-link:focus {
    text-shadow: 0 0 10px #007BFF, 0 0 20px #007BFF, 0 0 30px #007BFF;
}

.blue-link:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .AddPost-form-container, 
    .login-box {
        width: 90vw;
    }

    .AddPost-form-container button, 
    .login-box button {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}

#Content-container {
    display: flex;
}

.Left-padding, 
.Right-padding {
    flex: 1;
    background-color: var(--paddings-color);
    min-height: 100vh;
    box-shadow: var(--paddings-shadow);
    border-radius: var(--paddings-border-radius);
}

.Left-padding {
    margin-right: 7px;
}

.Right-padding {
    margin-left: 7px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%; /* Adjust this value to your desired width */
    box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}


.login-box label {
    margin-bottom: 0.5rem;
}

.login-box input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: var(--post-border-radius);
}

.login-box button {
    padding: 10px 20px;
    background-color: rgba(25, 25, 112, 0.75);
    color: var(--text-color);
    border: none;
    border-radius: var(--post-border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.login-box button:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

.error-message {
    margin-top: -10px;
}

.Form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Form-field label {
    width: 100px; 
    margin-right: 60px; 
    box-sizing: content-box;
    white-space: nowrap;
}

.Form-field input {
    flex: 1; 
    width: auto; 
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.login-button {
    position: relative;
    top: 270px;
    height: 50px;
}